* {
	font-weight: 100;
}
a {
	color: #000000;
}
body {
	background: #F0F0F0;
	font-family: sans-serif;
	font-size: 18px;
}
div.main {
	position: relative;
	background: white;
	border: #E0E0E0 solid 1px;
	padding: 40px;
	text-align: justify;
}
.main h1 {
	text-align: right;
}
.main table, th, td {
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
}
.main table {
	margin-left: 0;
}
.main td, th {
	padding: 5px;
}
.main img {
	float: left;
	width: 50%;
	margin-right: 20px;
	margin-bottom: 20px;
}
.navigation a {
	text-decoration: none;
	color: #808080;
}
.navigation a:hover {
	color: #000000;
}
@media only screen and (max-device-width: 720px) {
	div.main {
		width: auto;
	}
	div.navigation {
		padding: 20px;
		position: relative;
	}
	div.fixed {
		text-align: center;
		width: 100%;
		top: 0;
		left: 0;
	}
	.navigation h2 {
		display: inline;
		margin: 0 10px;
	}
	.navigation h2 {
		font-size: 40px;
	}
}
@media only screen and (min-device-width: 721px) {
	div.main {
		width: 50%;
		min-width: 720px;
		max-width: 1200px;
	}
	div.navigation {
		padding: 20px;
		position: fixed;
	}
	div.fixed {
		position: absolute;
		right: 0;
		top:0;
	}
	.navigation a {
		font-size: 20px;
	}
	.navigation h2 {
		margin: 20px 0px;
	}
}
